
<section class="channel-group">
	<div class="channel-group_header">
		<h2 class="channel-group_title">限时免费</h2>
	</div>
	<ul class="book-table">
		<li v-for="item in free" v-if="$index<6">
			<div class="u-book">
				<div class="book-cover">
					<img v-bind:src="item.data.book_cover">
					<div class="u-tagRT freefiction"></div>
				</div>
				<div class="book-info">
					<h3 class="title">{{ item.ad_name }}</h3>
				</div>
			</div>
		</li>
	</ul>
	<a href="/free" class="channel-grounp_footer">更多限时免费>></a>
</section>