<section class="channel">
	<div class="channel_header">
		<p class="channel_header_title">
			女生最爱
		</p>
	</div>
	<div>
		<ul class="list">
			<li>
				<div class="book">
					<div class="book_cover">
						<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p017io4EIZgP/tK1TkKVduNMK7w.jpg" alt="渣王作妃">
						<p class="book_finish">完结</p>
					</div>
					<div class="book_info">
						<p class="book_title">书名</p>
						<p class="book_author">作者</p>
						<p class="book_summary">简介</p>
						<div class="book_wrap">
							<div class="book_tag">标签标签标签标签标签</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="channel_footer_next">
		<a href="javascript:">换一换</a>
		<a href="javascript:">男生频道</a>
	</div>
</section>