<style type="text/css">
	.channel_footer_next{

		border-top: 1px solid #f0f0f0;
		overflow: hidden;
	}
	.channel_footer_next a{
		float: left;
		width: 50%;
		padding: 14px;
		font: 13px/1.3em a;
		color: rgba(0,0,0,0.9);
		text-align: center;
		box-sizing: border-box;
	}
	.channel_footer_next a:first-child{
		border-right: 1px solid #f0f0f0;
	}
</style>


<section class="channel">
	<div class="channel_header">
		<p class="channel_header_title">
			男生最爱
		</p>
	</div>
	<div>
		<ul class="list">
			<li>
				<div class="book">
					<div class="book_cover">
						<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p017io4EIZgP/tK1TkKVduNMK7w.jpg" alt="渣王作妃">
						<p class="book_finish">完结</p>
					</div>
					<div class="book_info">
						<p class="book_title">书名</p>
						<p class="book_author">作者</p>
						<p class="book_summary">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
						<div class="book_wrap">
							<div class="book_tag">标签标签标签标签标签</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="channel_footer_next">
		<a href="javascript:">换一换</a>
		<a href="javascript:">男生频道</a>
	</div>
</section>