<section class="channel">
	<div class="channel_header">
		<p class="channel_header_title">
			本周最火
		</p>
	</div>
	<ul class="list">
		<li v-for="item in hot" v-if="$index>=0 && $index<5">
			<div class="book">
				<a href="/book?id={{ item.fiction_id }}">
					<div class="book_cover">
						<img v-bind:src="item.cover" alt="{{ item.title }}">
						<p class="book_finish">完结</p>
					</div>
					<div class="book_info">
						<p class="book_title">{{ item.title }}</p>
						<p class="book_author">{{ item.authors }}</p>
						<p class="book_summary">{{ item.summary }}</p>
						<div class="book_wrap">
							<div class="book_tag" v-for="tag in item.categories">{{ tag.label }}</div>
						</div>
					</div>
				</a>
			</div>
		</li>
	</ul>
</section>