<style type="text/css">
	.banner-h5__list {
    padding: 13px 13px 0px;
}

.banner-h5__list > div {
    margin: 0 -3px -3px;
    overflow: hidden;
}

.banner-h5__list li {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 3px;
    box-sizing: border-box;
}

.banner-h5__cover {
    position: relative;
    padding-bottom: 60.6%;
    border: 1px solid #f0f0f0;
    border-radius: 1px;
}
.banner-h5__cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1px;
}
.channel_header_border{
	border-bottom: 1px solid #f0f0f0;
}
</style>

<section class="channel">
	<div class="channel_header channel_header_border">
		<p class="channel_header_title">
			精选专题<i>热</i>
		</p>
	</div>
	<ul class="banner-h5__list">
		<div>
			<li>
				<div class="banner-h5__cover">
					<img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01cjtwdtMY9/vOmsMitEMiFJmW.jpg"></div>
			</li>
			<li>
				<div class="banner-h5__cover">
					<img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01cjtwdtMY9/vOmsMitEMiFJmW.jpg"></div>
			</li>
		</div>
	</ul>
	<a href="/free" class="channel-grounp_footer">更多精选专题>></a>
</section>