<section class="channel">
	<div class="channel_header channel_header_border">
		<p class="channel_header_title">
			精选专题<i>热</i>
		</p>
	</div>
	<ul class="banner-h5__list">
		<div>
			<li>
				<div class="banner-h5__cover">
					<img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01cjtwdtMY9/vOmsMitEMiFJmW.jpg"></div>
			</li>
			<li>
				<div class="banner-h5__cover">
					<img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01cjtwdtMY9/vOmsMitEMiFJmW.jpg"></div>
			</li>
		</div>
	</ul>
	<a href="/free" class="channel-grounp_footer">更多精选专题>></a>
</section>