<section class="channel">
	<div class="channel_header">
		<p class="channel_header_title">
			男生最爱
		</p>
	</div>
	<div>
		<ul class="list">
			<li v-for="item in male" v-if="$index>=0 && $index<5">
				<div class="book">
					<div class="book_cover">
						<img v-bind:src="item.cover" alt="{{ item.title }}">
						<p class="book_finish">完结</p>
					</div>
					<div class="book_info">
						<p class="book_title">{{ item.title }}</p>
						<p class="book_author">{{ item.author }}</p>
						<p class="book_summary">{{ item.summary }}</p>
						<div class="book_wrap">
							<div class="book_tag" v-for="tag in item.categories">{{ tag.label }}</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="channel_footer_next">
		<a href="javascript:">换一换</a>
		<a href="javascript:">男生频道</a>
	</div>
</section>