<section class="channel">
	<div class="channel_header">
		<p class="channel_header_title">
			重磅推荐<i>推</i>
		</p>
		<div class="tab">
			<a href="javascript:" class="tab_on">男</a>
			<a href="javascript:">女</a>
		</div>
	</div>
	<ul class="list">
		<li v-for='item in recommend' v-if='$index==0'>
			<div class="book">
				<div class="book_cover">
					<img v-bind:src="item.cover" alt="{{ item.title }}">
					<p class="book_finish">完结</p>
				</div>
				<div class="book_info">
					<p class="book_title">{{ item.title }}</p>
					<p class="book_author">{{ item.authors }}</p>
					<p class="book_summary">{{ item.summary }}</p>
					<div class="book_wrap">
						<div class="book_tag" v-for="tag in item.categories">{{ tag.label }}</div>
					</div>
				</div>
			</div>
		</li>
		<li  v-for='item in recommend' v-if='$index>0 && $index<9'>
			<div class="book book_no-img">
				<span class="book__no-img_order">0{{ $index+1 }}</span>
				<div class="book__no-img_info">
					<p class="book__no-img_title">
						{{ item.title }}
					</p>
				</div>
			</div>
		</li>
	</ul>
</section>