<style type="text/css">
	.book-list{
		margin-top: -10px;
	}
	.book-list-item{
		padding: 20px 0 20px 13px;
		border-bottom: 1px solid #f0f0f0;
	}

	.shelf-info{
		padding: 5px 0 0 16px;
	}
	.book_final{
		padding: 60px 0 0 0;
	}
</style>

<div>
	<a href="/search">
		<div class="top-home_search">
			输入书名/作者/关键字
		</div>
	</a>
	<ul class="book-list">
		<li class="book-list-item clearfix">
			<a href="javascript:" class="left"><img src="http://cover.read.duokan.com/mfsv2/download/s010/p01yfPOuJRok/dQJSYfAnD3AB42.jpg!s" alt="盗墓笔记"></a>
			<div class="shelf-info left">
				<p class="book_title">盗墓笔记</p>
				<p class="book_author">南派三叔</p>
				<p class="book_final">已看到：后记</p>
			</div>
		</li>
		<li class="book-list-item clearfix">
			<a href="javascript:" class="left"><img src="http://cover.read.duokan.com/mfsv2/download/s010/p01yfPOuJRok/dQJSYfAnD3AB42.jpg!s" alt="盗墓笔记"></a>
			<div class="shelf-info left">
				<p class="book_title">盗墓笔记</p>
				<p class="book_author">南派三叔</p>
				<p class="book_final">已看到：后记</p>
			</div>
		</li>
	</ul>
</div>