<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
	<title>首页</title>
	<link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/all.css">
	<style type="text/css">
		.clearfix: after{
			content: '';
			display: block;
			clear: both;
			overflow: hidden;
			visibility: hidden;
		}
	</style>	
</head>
<body>
	<div id="app" style="width: 734px; overflow: hidden;">
		<% include include/header.html %>
		<!-- <div style="width: 1468px;transition-duration:0.5s;transform:translate3d(0px,0px,0px)"> -->
			<div class="container-warp" style="width: 734px; float: left;">
				<div class="container-scroll" style="width: 734px;">
					<% include include/index-top.html%>
					<% include include/index-hot.html%>
					<% include include/index-recommend.html%>
					<% include include/index-female.html%>
					<% include include/index-male.html%>
					<% include include/index-free.html%>
					<% include include/index-bottom.html%>
				</div>
			</div>
			<!-- <div style="width: 734px; float: left;">
				<% include include/index-shelf.html %>
			</div> -->
		<!-- </div> -->
	</div>
</body>
<script src="/static/script/vue.js"></script>
<script src="/static/script/zepto.js"></script>
<script src="/static/script/pages/index.js"></script>
</html>